In [4]:
pwd

'C:\\Users\\audei\\Documents\\Capstone'

In [5]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://sha2user:Boot!camp2021!@localhost/capstone')

                                        Read the quantity table

In [3]:
df = pd.read_csv('quantity.csv')

In [ ]:
df.to_sql(
    name='orders',
    con=engine,
    if_exists= 'replace', 
    index=False
)

Data types of columns

                                             Data types of columns

In [ ]:
df.dtypes

                                   Showcase basic information about the database such as the count of each row
                                                      The top of the database
                                                      The end of the database

In [ ]:
df.count()
df.head()
df.tail()

                       Group by employee ID and sum the quantity of all the items each employee has sold

In [ ]:
df.groupby('empid').agg({ 'quantity': 'sum'})

                                                     Read the prices table

In [ ]:
df2 = pd.read_csv('prices.csv')

In [ ]:
df2.to_sql(
    name='prices',
    con=engine,
    if_exists= 'replace', 
    index=False
)

                                                            Count per table

In [ ]:
df2.count()

                                               Data types of columns

In [ ]:
df2.dtypes

In [ ]:
                           Showcase basic information about the database such as the count of each row
                                         The top of the database
                                        The end of the database

In [ ]:
df2.count()
df2.head()
df2.tail()

                                             Read the employees table

In [ ]:
df3 = pd.read_csv('employees.csv')

In [ ]:
df3.to_sql(
    name='employees',
    con=engine,
    if_exists= 'replace', 
    index=False
)

                        Merge table 1 with three with their common column empid to show quantity sold by region

In [ ]:
dfm= pd.merge(df, df3, on='empid', how='left')

In [ ]:
dfm.groupby('region').agg({ 'quantity': 'sum'})