In [2]:
pwd

'C:\\Users\\audei\\Documents\\Capstone'

In [3]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://sha2user:Boot!camp2021!@localhost/capstone')

In [ ]:
df = pd.read_sql("SELECT * FROM orders")

In [15]:
df = pd.read_csv('quantity.csv')

In [24]:
df.to_sql(
    name='orders',
    con=engine,
    if_exists= 'replace', 
    index=False
)

Data types of columns

In [19]:
df.dtypes

item        object
empid       object
dateyr       int64
datewk       int64
quantity     int64
dtype: object

In [ ]:
Showcase basic information about the database such as the count of each row
The top of the database
The end of the database

In [18]:
df.count()
df.head()
df.tail()

item        8320
empid       8320
dateyr      8320
datewk      8320
quantity    8320
dtype: int64

Group by employee ID and sum the quantity of all the items each employee has sold

In [5]:
df.groupby('empid').agg({ 'quantity': 'sum'})

        quantity
empid
EMP234     23316
EMP244     33177
EMP256     15364
EMP267     33013
EMP290     10179

In [6]:
df2 = pd.read_csv('prices.csv')

In [26]:
df2.to_sql(
    name='prices',
    con=engine,
    if_exists= 'replace', 
    index=False
)

                                                            Count per table

In [21]:
df2.count()

item      16
2019Q1    16
2019Q2    16
2019Q3    16
2019Q4    16
2020Q1    16
2020Q2    16
2020Q3    16
2020Q4    16
dtype: int64

                                               Data types of columns

In [ ]:
df2.dtypes

In [ ]:
                           Showcase basic information about the database such as the count of each row
                                         The top of the database
                                        The end of the database

In [ ]:
df2.count()
df2.head()
df2.tail()

                                             Read the employees table

In [23]:
df3 = pd.read_csv('employees.csv')

In [27]:
df3.to_sql(
    name='employees',
    con=engine,
    if_exists= 'replace', 
    index=False
)

                        Merge table 1 with three with their common column empid to show quantity sold by region

In [24]:
dfm= pd.merge(df, df3, on='empid', how='left')

In [25]:
dfm.groupby('region').agg({ 'quantity': 'sum'})

        quantity
region
NW         71857
SW         43192

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat