In [1]:
pwd

'C:\\Users\\audei\\Documents\\Capstone'

In [13]:
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://sha2user:Boot!camp2021!@localhost/capstone')

In [16]:
df = pd.read_csv('quantity.csv')

In [17]:
df.to_sql(
    name='orders',
    con=engine,
    if_exists= 'append', 
    index=False
)

Showcase basic information about the database such as the count of each row
The top of the database
The end of the database

In [18]:
df.count()
df.head()
df.tail()

item        8320
empid       8320
dateyr      8320
datewk      8320
quantity    8320
dtype: int64

Group by employee ID and sum the quantity of all the items each employee has sold

In [24]:
df.groupby('empid').agg({ 'quantity': 'sum'})

        quantity
empid
EMP234      1664
EMP244      1664
EMP256      1664
EMP267      1664
EMP290      1664

In [19]:
df2 = pd.read_csv('prices.csv')

In [20]:
df2.to_sql(
    name='prices',
    con=engine,
    if_exists= 'append', 
    index=False
)

In [21]:
df2.count()

item      16
2019Q1    16
2019Q2    16
2019Q3    16
2019Q4    16
2020Q1    16
2020Q2    16
2020Q3    16
2020Q4    16
dtype: int64